<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Editing Book</h1>
         <div class="error-message">
        <% if @book.errors.any? %>
        <%= @book.errors.count %>error has occurred
          <ul>
            <li><% @book.errors.full_messages.each do |message| %>
            <%= message %>
            </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model:@book, local:true do |f| %>

        <div class="form">Title</div>
        <%= f.text_field :title %>

        <div class="form">Opnion</div>
        <%= f.text_field :body %>

        <div class="submit">
        <%= f.submit 'Update Book' %>
        </div>
      <% end %>
      <%= link_to "Show",book_path(@book) %>
      |
      <%= link_to "Back" ,books_path %>
    </div>
    </div>
  </div>
</div>